.Header{
    height: 10vh;
    font-size: 25px;
    background-color: lightblue;
    color: snow;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Header a{
     text-decoration: none;
     color: snow;
     margin: 0 5px;
 }

.Header a[class='active']{
    color: #7300ff;
}